# 日志级别: trace(跟踪), debug(调试), info(信息), warn(警告), error(错误), fatal(致命), off(关闭)
level = debug

# 输出目标: console(控制台), file(文件), both(两者)
target = both

# 日志文件路径(默认log.log)
log_file = loog.log

# 是否启用颜色（true/false）
use_color = true

# 是否启用线程锁（多线程环境建议开启）（true/false）
use_lock = true

#单个文件最大行数(仅在单文件循环模式下有意义)
max_line = 1000

#log文件分割模式下有意义，默认为3个文件
#所有log文件占用的最大内存，单位MB
max_memory = 0.01

#log文件分割数
segment_count = 3
